.modal-content > .card {
    margin-bottom: 0px;
}

.encrypted-payload, .encrypted-message {
    overflow-wrap: break-word;
    font-family: monospace;
    font-size: x-small;
    padding: 5px;
    white-space: pre-wrap;
    min-height: 175px;
}

#app-root {
    margin: 15px;
    max-width: 800px;
}

.card-header {
    font-size: 150%;
    font-weight: bold;
}

.custom-page-header > h1 {
    font-weight: bolder;
}

.encrypted-inline-payload {
    font-family: monospace;
    font-size: x-small;
    overflow-wrap: break-word;
}

.card-body {
    overflow-wrap: break-word;
}

.success .card-header {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.info .card-header {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.warning .card-header {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.danger .card-header {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.footer-buttons .btn {
    margin: 5px 5px 5px 0px;
}

ol.progtrckr li span {
    padding: 0 0.5rem;
}
